<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUFjGpWkJsCWPf61I8fh7AZubo8gsW1zo</string>
	<key>GCM_SENDER_ID</key>
	<string>290347898824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtambucho.challenge.stg</string>
	<key>PROJECT_ID</key>
	<string>challenge-d0cb2</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-d0cb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290347898824:ios:3b826fda589c10290712fd</string>
</dict>
</plist>